*{
	padding: 0;
	margin: 0;
	box-sizing: 'border-box';
	font-family: Arial, Helvetica, sans-serif;
	background-color: ghostwhite;
    
}

.div {
    height: 100px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#bodyDiv {
    height: 100%;
    width: 100%;
    

}

.btn {
    height: 19px;
    width: 80px;
}

#headerDiv {
    width: 100%;
    margin: auto;

}

h1 {
    font-family: 'Yusei Magic', serif;
    
}

.form {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: table;
    
}


.formDiv {
    display: table-row;
    align-items: center;
    justify-content: center;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

#cardDiv {
    height: 50vw;
    width: 40vw
}

/* #rarity,
#rulings,
#name,
#set {
    display: flex;
} */